@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "All Movies";
}

<table>
    <tr>
        <th>@(Html.DisplayNameFor(model => model.Title))</th>
        <th>@(Html.DisplayNameFor(model => model.ReleaseDate))</th>
        <th>@(Html.DisplayNameFor(model => model.Genre))</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Movies" asp-action="Details"
               asp-route-id="@item.MovieID">@(Html.DisplayFor(modelItem => item.Title))</a>
            </td>
            <td>@(Html.DisplayFor(modelItem => item.ReleaseDate))</td>
            <td>@(Html.DisplayFor(modelItem => item.Genre))</td>
        </tr>
    }



</table>
